# Chave da API da OpenAI
OPENAI_API_KEY=sk-...

# Token de longa duração do Home Assistant
HA_TOKEN=seu_token_aqui

# Fuso horário do Home Assistant
TZ=America/Sao_Paulo

# Porta do servidor
PORT=3000

# URL pública do servidor (usada pra gerar links dos MP3 pro Alexa)
PUBLIC_URL=https://jarvis-eduardo.duckdns.org

# ElevenLabs - voz do Jarvis
ELEVENLABS_API_KEY=sua_chave_aqui
# ID da voz - escolha em elevenlabs.io/voice-lab
ELEVENLABS_VOICE_ID=pNInz6obpgDQGcFmaJgB
